.background {
    color: whitesmoke;
}
.activitydescription{
    text-align: justify;
    text-decoration: mediumblue;
    padding: auto;
}
h1{
    text-align: center;
}
.single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}
.single-service img{
    width: 100%;
    border-radius: 7px;
}